    .popup {
        /* visibility: hidden; */
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 5000;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: #12121296;
    }
    
    .popup__open {
        visibility: visible;
    }
    
    .popup:target {
        visibility: visible;
    }
    
    .popup__box {
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: 210px;
        width: 920px;
        background: #ffffff;
    }
    
    .popup__box--content {
        margin: 95px;
        display: flex;
        flex-direction: column;
    }